/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #c9e6f8, #c9e6f8);
    color: #333;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite s linear;
  }
}

.App-header {
  background-color: #E8F0F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #ffffff; /* Bright blue for better visibility */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  transition: color 0.3s ease; /* Smooth hover effect */
}

a:hover {
  color: #007bff; /* Lighter blue when hovered */
}

span {
  color: #ffffff; /* Text for "No Accounts Found" */
}
